doctype 5
html
  head
    title 404 - Resource Not Found
    link(rel="stylesheet", type="text/css", href="/css/expo.css", media="all")
  body
    h1 404 - Resource Not Found
    h2= url
    p The requested resource <code>#{url}</code> could not be found.
    br
    hr
    address Powered by NodeJS, express, jade, stylus and Dojo Toolkit